## I have aggregated NBA play-by-play data for 6 seasons from nba.com and would like to analyze it.

In [3]:
#import libraries
import pandas as pd
import numpy as np

In [4]:
#Normalize column 
def scale_col(df,col): 
    """
    A function that takes a pandas dataframe and column as input and returns a scaled version of the column. 
    The column is rescaled to values between 1 and 2. 
    """
    df['Scaled_' + col] = (df[col]-df[col].min())/(df[col].max()-df[col].min()) + 1
    return df

In [5]:
#Load in the dataframe
df = pd.read_csv('RAPM_SAL_INFO.csv').drop(['Unnamed: 0'],axis=1)
df.head()

        Name     coeff      Salary
0   X. Henry -0.975378   8481333.0
1  E. Najera -0.219172   8500000.0
2   J. Terry  1.946825  38453902.0
3     M. Ely  0.969023   3909764.0
4   S. Blake  0.898902  20247465.0

## We're interested in finding players who may have been undervalued by the market. To do this, I propose dividing the coeffiicients determined by the ridge regression model by the salary of each player... Players with large coefficients and small salaries are likely excellent role players on contending teams and would be good signinigs.

In [6]:
pos_cont = df[df['coeff'] > 0]
pos_cont = scale_col(pos_cont,'coeff')
pos_cont = scale_col(pos_cont,'Salary')
pos_cont['Value'] = pos_cont['Scaled_coeff'] / pos_cont['Scaled_Salary']
pos_cont = pos_cont.sort_values(['Value'],ascending=False).reset_index(drop=True)
pos_cont.head()

/Users/evan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/Users/evan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

             Name     coeff      Salary  Scaled_coeff  Scaled_Salary     Value
0       K. Olynyk  5.211092   6227280.0      1.855853       1.038592  1.786893
1      J. Crowder  5.382377   9100723.0      1.884023       1.056621  1.783064
2       K. Korver  5.882424  33760563.0      1.966261       1.211342  1.623208
3  M. Dellavedova  3.216481   2453938.0      1.527817       1.014917  1.505361
4     M. Ginobili  6.087573  57383568.0      2.000000       1.359559  1.471066